{{ include("@global/head.twig") }}
{{ include("@global/header.twig") }}
<section id="hero">
  <div class="inner">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</section>
{{ include("@global/footer.twig") }}
