{{ include("@global/head.twig") }}
{{ include("@global/header.twig") }}
<section id="hero">
  <div class="inner">
    <div class="left relative overflow-hidden">
      <img
        class="absolute inset-0 w-full h-full object-cover"
        src="/dist/frontend/assets/img/waves-left.png"
        alt=""
      />
      <img
        class="absolute top-0 right-0"
        src="/dist/frontend/assets/img/blurred-elipse.png"
        alt=""
      />
      <img
        class="absolute bottom-0 left-0"
        src="/dist/frontend/assets/img/blurred-elipse-2.png"
        alt=""
      />
    </div>
    <div class="right relative">
      <div class="wrapper">
        <img
          class="absolute inset-0 w-full top-1/2 transform -translate-y-1/2"
          src="/dist/frontend/assets/img/waves-right.svg"
          alt=""
        />
        <h1
          class="
            font-roboto
            mlg:text-[14vw]
            m2xl:text-[6vw]
            2xl:text-[6rem]
            text-white text-opacity-70
          "
        >
          The highest quality you even heared
        </h1>
        <a
          href="/auth/register"
          class="z-10 mt-6 mr-auto btn btn-primary btn-md"
          >Start uploading</a
        >
      </div>
      <img
        class="absolute inset-0 w-full h-full object-cover"
        src="/dist/frontend/assets/img/frosted-gradient.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="bottom-icons">
    <div class="wrapper">
      <div class="icon-wrapper">
        <img src="/dist/frontend/assets/img/icon-headsets.png" alt="" />
        <div class="text">
          <h6>Hear each detail of the original audio file</h6>
          <p>Lossless high-resolution listening up to 24-bit 192kHz.</p>
        </div>
      </div>
      <div class="icon-wrapper">
        <img src="/dist/frontend/assets/img/icon-upload.png" alt="" />
        <div class="text">
          <h6>Upload music and publish albums</h6>
          <p>
            You can upload music at any quality, then it will be approved by our
            stuff.
          </p>
        </div>
      </div>
      <div class="icon-wrapper">
        <img src="/dist/frontend/assets/img/icon-people.png" alt="" />
        <div class="text">
          <h6>Connect with creative people</h6>
          <p>Meet new artist and new music with it’s incredible details.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ include("@global/footer.twig") }}
