{{ include("@global/head.twig") }}
<h1>Register</h1>
<ul>
  {% for error in res.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
<form action="" method="post">
  <input type="text" name="user" placeholder="Username" />
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="pass" placeholder="Password" />
  <input type="password" name="cpass" placeholder="Confirm password" />
  <button type="submit">Registrame</button>
</form>
